<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>


    <!-- CSS Section -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>

  <nav>
    <ul class="menuItems">
        <li class="nav-item active">
            <a  href="/">
              <img src="/Assets/images/logo.png" alt="Logo" width="40" height="40">
            </a>
        </li>
      <% if(typeof displayName == 'string' && displayName) { %>
        <li class="nav-item active">
          <a data-item='Home' href="/home">Home </a>
        </li>
        <% } else { %>
        <% } %>


        <% if(typeof displayName == 'string' && displayName) { %>
        <li class="nav-item active">
          <a data-item='Survey List' href="/survey-list"> Survey List </a>
        </li>
        <% } else { %>
        <% } %>
        <% if(typeof displayName == 'string' && displayName) { %>
          <li data-item='Welcome' style="font-size: 1.5rem;"> Welcome, <%= displayName %></li>
          <li class="nav-item">
            <a data-item='Logout' href="/logout"> Logout </a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a data-item='Login' href="/login"> Login </a>
          </li>
        <% } %>
    </ul>
  </nav>

</section>


