<%- include('../partials/header.ejs') -%>

<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-----------------------------Create PAGE----------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-------------------------------------------------------------------------> 
<!-- MAIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST" id="surveyForm">
                <div class="form-group">
                    <label for="SurveyNameTextField">Survey Name: </label>
                    <input type="text" class="form-control"
                    id="SurveyNameTextField"
                    placeholder="Enter the title for your servey"
                    name="SurveyName" 
                    required>
                </div>          
                
                <div id="questions">
                    <div class="formGroup" id = "Question">                       
                        
                        <!-- Question -->                        
                        <div class = "form-group">
                        <label for="Question">Question</label>
                        <input type="text" class="form-control"
                        id="Question0"
                        placeholder="Enter the Question"
                        name="Question0"
                        required>
                                
                        <!-- Choices -->
                        <label for="Choice">Choice</label>
                        <input type="text" class="form-control"
                        id="Choice0"
                        placeholder="Enter a choice"
                        name="Choice0"
                        required>

                        <label for="Choice">Choice</label>
                        <input type="text" class="form-control"
                        id="Choice1"
                        placeholder="Enter a choice"
                        name="Choice1"
                        required>

                        <label for="Choice">Choice</label>
                        <input type="text" class="form-control"
                        id="Choice2"
                        placeholder="Enter a choice"
                        name="Choice2"
                        required>

                        <label for="Choice">Choice</label>
                        <input type="text" class="form-control"
                        id="Choice3"
                        placeholder="Enter a choice"
                        name="Choice4"
                        required>                                         
                        </div>                    
                    </div> 
                </div>              

                <button class="btn btn-primary" type="button" id="addQuestion">
                    <i class="fas fa-create"></i>Add Question</button>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-create"></i> Submit Survey</button>
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!-- THIS NEED A CORRECT ROUTE PLEASE FIX I DON'T KNOW IF THIS IS CORRECT-->
                    <!------------------------------------------------------------------------->
                    <!----------|-------------------------------------------------------------->
                    <!--------- |-------------------------------------------------------------->
                    <!---------\ /------------------------------------------------------------->
                    <!----------V-------------------------------------------------------------->                    
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel Creation</a>
            </form>
        </div>
    </div>
  </div>



    <%- include('../partials/bottomnav.ejs') -%>
    <%- include('../partials/footer.ejs') -%>