<%- include('../partials/header.ejs') -%>

<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-----------------------------Create PAGE----------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-------------------------------------------------------------------------> 
<!-- MAIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST" id="surveyForm">
                <div class="form-group">
                    <label for="SurveyNameTextField">Survey Name: </label>
                    <input type="text" class="form-control"
                    id="SurveyNameTextField"
                    placeholder="Enter the title for your servey"
                    name="SurveyName" 
                    required>
                </div>     
                
                <div class="form-group">
                    <label for="sel1">Survey</label>
                    <select class="form-control" id="IsActive" name="IsActive">
                        <option value="false">Inactive </option>
                        <option value="true">Active </option>                     
                    </select>
                  </div>                

                <div class="form-group row">
                    <label for="example-date-input" class="col-2 col-form-label">Date</label>
                    <div class="col-10">
                      <input type="date" class="form-control"
                       value="0000-00-00" 
                       id="ExpireDate"
                       name="ExpireDate">
                    </div>
                </div>       
                
                <!-- 100% there I will fuck up a name, Id or label here because they are all so similar, the difference being the numbers QuestionObject#Choice#-->
                <!--Question 1-->
                
                <!--Question Being Asked-->
                <div class="form-group">
                    <label for="QuestionObject1QuestionTextField">Question 1:</label>
                    <input type="text" class="form-control"
                    id="QuestionObject1QuestionTextField"
                    placeholder="Enter Question 1"
                    name="QuestionObject1Question" 
                    required>
                </div>
                
                <!--Question 1 Choices-->
                <!--Choice 1-->
                <div class="form-group">
                    <label for="QuestionObject1Choice1TextField">Choice 1:</label>
                    <input type="text" class="form-control"
                    id="QuestionObject1Choice1TextFieldTextField"
                    placeholder="Enter Question 1 Choice 1"
                    name="QuestionObject1Choice1" 
                    required>
                </div>

                <!--Choice 2-->
                <div class="form-group">
                    <label for="QuestionObject1Choice2TextField">Choice 2:</label>
                    <input type="text" class="form-control"
                    id="QuestionObject1Choice2TextFieldTextField"
                    placeholder="Enter Question 1 Choice 2"
                    name="QuestionObject1Choice2" 
                    required>
                </div>

                <!--Choice 3-->
                <div class="form-group">
                    <label for="QuestionObject1Choice3TextField">Choice 3</label>
                    <input type="text" class="form-control"
                    id="QuestionObject1Choice3TextFieldTextField"
                    placeholder="Enter Question 1 Choice 3"
                    name="QuestionObject1Choice3" 
                    required>
                </div>
                
                <!--Choice 4-->
                <div class="form-group">
                    <label for="QuestionObject1Choice4TextField">Choice 4</label>
                    <input type="text" class="form-control"
                    id="QuestionObject1Choice4TextFieldTextField"
                    placeholder="Enter Question 1 Choice 4"
                    name="QuestionObject1Choice4" 
                    required>
                </div>

                <!-- 100% there I will fuck up a name, Id or label here because they are all so similar, the difference being the numbers QuestionObject#Choice#-->
                <!--Question 2-->
                <div class="form-group">
                    <label for="QuestionObject2QuestionTextField">Question 2</label>
                    <input type="text" class="form-control"
                    id="QuestionObject2QuestionTextField"
                    placeholder="Question 2"
                    name="QuestionObject2Question" 
                    required>
                </div>
                
                <!--Question 2 Choices-->
                <!--Choice 1-->
                <div class="form-group">
                    <label for="QuestionObject2Choice1TextField">Choice 1</label>
                    <input type="text" class="form-control"
                    id="QuestionObject2Choice1TextFieldTextField"
                    placeholder="Question 2 Choice 1"
                    name="QuestionObject2Choice1" 
                    required>
                </div>

                <!--Choice 2-->
                <div class="form-group">
                    <label for="QuestionObject2Choice2TextField">Choice 2</label>
                    <input type="text" class="form-control"
                    id="QuestionObject2Choice2TextFieldTextField"
                    placeholder="Question 2 Choice 2"
                    name="QuestionObject2Choice2" 
                    required>
                </div>

                <!--Choice 3-->
                <div class="form-group">
                    <label for="QuestionObject2Choice3TextField">Choice 3</label>
                    <input type="text" class="form-control"
                    id="QuestionObject2Choice3TextFieldTextField"
                    placeholder="Question 2 Choice 3"
                    name="QuestionObject2Choice3" 
                    required>
                </div>
                
                <!--Choice 4-->
                <div class="form-group">
                    <label for="QuestionObject2Choice4TextField">Choice 4</label>
                    <input type="text" class="form-control"
                    id="QuestionObject2Choice4TextFieldTextField"
                    placeholder="Question 2 Choice 4"
                    name="QuestionObject2Choice4" 
                    required>
                </div>

                <!-- 100% there I will fuck up a name, Id or label here because they are all so similar, the difference being the numbers QuestionObject#Choice#-->
                <!--Question 3-->
                <div class="form-group">
                    <label for="QuestionObject3QuestionTextField">Question 3</label>
                    <input type="text" class="form-control"
                    id="QuestionObject3QuestionTextField"
                    placeholder="Enter Question 3"
                    name="QuestionObject3Question" 
                    required>
                </div>
                
                <!--Question 3 Choices-->
                <!--Choice 1-->
                <div class="form-group">
                    <label for="QuestionObject3Choice1TextField">Choice 1</label>
                    <input type="text" class="form-control"
                    id="QuestionObject3Choice1TextFieldTextField"
                    placeholder="Enter Question 3 Choice 1"
                    name="QuestionObject3Choice1" 
                    required>
                </div>

                <!--Choice 2-->
                <div class="form-group">
                    <label for="QuestionObject3Choice2TextField">Choice 2</label>
                    <input type="text" class="form-control"
                    id="QuestionObject3Choice2TextFieldTextField"
                    placeholder="Enter Question 3 Choice 2"
                    name="QuestionObject3Choice2" 
                    required>
                </div>

                <!--Choice 3-->
                <div class="form-group">
                    <label for="QuestionObject3Choice3TextField">Choice 3</label>
                    <input type="text" class="form-control"
                    id="QuestionObject3Choice3TextFieldTextField"
                    placeholder="Enter Question 3Choice 3"
                    name="QuestionObject3Choice3" 
                    required>
                </div>
                
                <!--Choice 4-->
                <div class="form-group">
                    <label for="QuestionObject3Choice4TextField">Choice 4</label>
                    <input type="text" class="form-control"
                    id="QuestionObject3Choice4TextFieldTextField"
                    placeholder="Enter Question 3 Choice 4"
                    name="QuestionObject3Choice4" 
                    required>
                </div>                
                
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-create"></i> Submit Survey</button>
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!-- THIS NEED A CORRECT ROUTE PLEASE FIX I DON'T KNOW IF THIS IS CORRECT-->
                    <!------------------------------------------------------------------------->
                    <!----------|-------------------------------------------------------------->
                    <!--------- |-------------------------------------------------------------->
                    <!---------\ /------------------------------------------------------------->
                    <!----------V-------------------------------------------------------------->                    
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel Creation</a>
            </form>
        </div>
    </div>
  </div>



    <%- include('../partials/bottomnav.ejs') -%>
    <%- include('../partials/footer.ejs') -%>