<%- include('../partials/header.ejs') -%>

<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-----------------------------ADD PAGE----------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-------------------------------------------------------------------------> 
<!-- MAIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="SurveyNameTextField">Survey Name: </label>
                    <input type="text" class="form-control"
                    id="SurveyNameTextField"
                    placeholder="Enter the title for your servey"
                    name="SurveyName" 
                    required>
                </div>
                
                <!-- 100% there I will fuck up a name, Id or label here because they are all so similar, the difference being the numbers QuestionObject#Choice#-->
                <!--Question 1-->
                
                <!--Question Being Asked-->
                <div class="form-group">
                    <label for="QuestionObject1QuestionTextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject1QuestionTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject1Question" 
                    required>
                </div>
                
                <!--Question 1 Choices-->
                <!--Choice 1-->
                <div class="form-group">
                    <label for="QuestionObject1Choice1TextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject1Choice1TextFieldTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject1Choice1" 
                    required>
                </div>

                <!--Choice 2-->
                <div class="form-group">
                    <label for="QuestionObject1Choice2TextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject1Choice2TextFieldTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject1Choice2" 
                    required>
                </div>

                <!--Choice 3-->
                <div class="form-group">
                    <label for="QuestionObject1Choice3TextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject1Choice3TextFieldTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject1Choice3" 
                    required>
                </div>
                
                <!--Choice 4-->
                <div class="form-group">
                    <label for="QuestionObject1Choice4TextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject1Choice4TextFieldTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject1Choice4" 
                    required>
                </div>

                <!-- 100% there I will fuck up a name, Id or label here because they are all so similar, the difference being the numbers QuestionObject#Choice#-->
                <!--Question 2-->
                <div class="form-group">
                    <label for="QuestionObject2QuestionTextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject2QuestionTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject2Question" 
                    required>
                </div>
                
                <!--Question 2 Choices-->
                <!--Choice 1-->
                <div class="form-group">
                    <label for="QuestionObject2Choice1TextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject2Choice1TextFieldTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject2Choice1" 
                    required>
                </div>

                <!--Choice 2-->
                <div class="form-group">
                    <label for="QuestionObject2Choice2TextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject2Choice2TextFieldTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject2Choice2" 
                    required>
                </div>

                <!--Choice 3-->
                <div class="form-group">
                    <label for="QuestionObject2Choice3TextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject2Choice3TextFieldTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject2Choice3" 
                    required>
                </div>
                
                <!--Choice 4-->
                <div class="form-group">
                    <label for="QuestionObject2Choice4TextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject2Choice4TextFieldTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject2Choice4" 
                    required>
                </div>

                <!-- 100% there I will fuck up a name, Id or label here because they are all so similar, the difference being the numbers QuestionObject#Choice#-->
                <!--Question 3-->
                <div class="form-group">
                    <label for="QuestionObject3QuestionTextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject3QuestionTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject3Question" 
                    required>
                </div>
                
                <!--Question 3 Choices-->
                <!--Choice 1-->
                <div class="form-group">
                    <label for="QuestionObject3Choice1TextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject3Choice1TextFieldTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject3Choice1" 
                    required>
                </div>

                <!--Choice 2-->
                <div class="form-group">
                    <label for="QuestionObject3Choice2TextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject3Choice2TextFieldTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject3Choice2" 
                    required>
                </div>

                <!--Choice 3-->
                <div class="form-group">
                    <label for="QuestionObject3Choice3TextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject3Choice3TextFieldTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject3Choice3" 
                    required>
                </div>
                
                <!--Choice 4-->
                <div class="form-group">
                    <label for="QuestionObject3Choice4TextField"></label>
                    <input type="text" class="form-control"
                    id="QuestionObject3Choice4TextFieldTextField"
                    placeholder="Enter the Book's Author"
                    name="QuestionObject3Choice4" 
                    required>
                </div>                

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!-- THIS NEED A CORRECT ROUTE PLEASE FIX I DON'T KNOW IF THIS IS CORRECT-->
                    <!------------------------------------------------------------------------->
                    <!----------|-------------------------------------------------------------->
                    <!--------- |-------------------------------------------------------------->
                    <!---------\ /------------------------------------------------------------->
                    <!----------V-------------------------------------------------------------->                    
                    <a href="/home" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>
    </div>
  </div>



    <%- include('../partials/bottomnav.ejs') -%>
    <%- include('../partials/footer.ejs') -%>